
# ENVIRONMENT & SECRETS
.env
.env.*
*.env
!.env.example

# PYTHON
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.venv/
venv/
env/
.eggs/

# JUPYTER
.ipynb_checkpoints/
# *.ipynb

# AIRFLOW
airflow/logs/
airflow/postgres/

# SPARK
data/
spark-data/
spark-apps/__pycache__/
*.jar
derby.log
metastore_db/

# MINIO
minio/data/

# POSTGRES
postgres/data/

# MOSQUITTO
mosquitto/data/
mosquitto/log/

# DOCKER
.docker/

# OS
.DS_Store
Thumbs.db
*.swp
*.swo
*~

# IDE
.idea/
.vscode/
*.code-workspace

# LOGS & TEMP
*.log
*.tmp
*.bak
*.zip
tmp/
temp/

kafka-docker-compose.yaml

*.duckdb